/* Color Styles for Page 2 */
body, .container, nav, footer, .dropdown-content a:hover {
  background-color: rgb(4, 136, 68);
}

a, a:visited, a:active {
  color: #FFDA00; /* Normal link color */
  }

  a:hover, .dropdown:hover {
  color: #ea1010; /* Hover link color */
  }
