/* Color Styles for Page 1 */
body, .container, nav, footer, .dropdown-content a:hover {
  background-color: #FFDA00; /* Example color (khaki) */
}

nav ul ul li {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
}

nav ul li:hover > ul {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
}

a, a:visited, a:active {
  color: #1689A0; /* Normal link color */
  text-decoration: none;
}

a:hover, .dropdown:hover {
  color: #ea1010; /* Hover link color */
  text-decoration: none;
}
