body, .container, nav, footer {
  background-color: #FFDA00 /* rgb(253, 223, 0); /* Example color (khaki) */
}
body {
  font-family: 'Times New Roman'; /* sans-serif; */
  font-size: 20px;
  margin: 0;
  padding: 0;
}
nav {
  padding: 1em 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav ul li a {
  text-decoration: none;
}

.container {
  width: 50%;
  margin: 2em auto;
  text-align: left;  /* Align text to the left */
  padding: 1em;
  border-radius: 10px;
}

.image-container {
  margin: 2em 0;
}

footer {
  padding: 1em 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  display: inline;
  margin: 0 1em;
}

footer ul li a {
  color: rgb(23, 161, 152);
  text-decoration: none;
}

/* Link styles */
a, a:visited, a:active {
  color: #1689A0; /* Normal link color */
}

a:hover {
  color: #ea1010; /* Hover link color */
}