<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap" rel="stylesheet">
			<link rel="shortcut icon" href="http://ninell-oldenburg.github.io/favicon.ico" type="image/x-icon">
			<title>Ninell Oldenburg</title>
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<!-- <li><a href="/research">work</a></li> -->
	        		<li><a href="/docs/CV.pdf" target="_blank">CV</a></li>
	        		<!-- <li><a href="/wrting">writing</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
				
			<p align="center">
  			<img src="/images/nell.png" />
			</p>
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<a href="https://twitter.com/nellsn1?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @nellsn1</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				<li><a href="mailto:ninelloldenburg@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ninell-oldenburg">github.com/ninell-oldenburg</a></li>
				</ul>
			</footer>
		</body>
	</html>
