<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Peddana" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet">
			<link rel="shortcut icon" href="http://ninell-oldenburg.github.io/favicon.ico" type="image/x-icon">
			<title>Ninell Oldenburg</title>
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<!-- <li><a href="/research">work</a></li>
	        		<li><a href="CV.pdf" target="_blank">CV</a></li>
	        		<li><a href="/wrting">cyclops</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ninelloldenburg@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ninell-oldenburg">github.com/ninell-oldenburg</a></li>
				</ul>
			</footer>
		</body>
	</html>
